@import 'tailwindcss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-public-sans), sans-serif;
}

@theme {
  --font-family-sans: var(--font-public-sans), sans-serif;
  --color-primary: rgb(73, 174, 68);
}

@layer base {
  p {
    @apply text-[#637381] font-normal text-base;
  }
  h3 {
    @apply text-[#212B36] font-bold text-[32px];
  }
}

form {
  @apply flex flex-col items-start gap-8 w-full;
}

@layer components {
  .container {
    @apply max-w-[1200px] mx-auto sm:px-4 lg:px-0;
  }
}
